body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

#wt_fps {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

#wt_canvas-webgpu {
  border: 1px solid #303030;
  border-radius: 8px;
}
